<div class="field">
  <div class="field is-narrow">
    <div class="control">
      <div class="select is-fullwidth">
        <select name="<%= search_param_name %>" <%= "disabled" unless buckets.any? %>>
          <option value=""><%= label %></option>
          <% buckets.each do |b| %>
            <option value="<%= b['key'] %>" <%= "selected" if b['key'].to_s == search_param_value %>>
              <%= "%s (%d)" % [b['object'], b['doc_count']] %>
            </option>
          <% end %>
        </select>
      </div>
    </div>
  </div>
</div>