<div class="<%= css_class %>" data-controller="<%= stimulus_controller %>" data-target="<%= stimulus_controller %>.notification">
  <% if delete? %>
    <%= render(Application::Elements::DeleteComponent.new(
        stimulus_controller: stimulus_controller,
        styles: delete_styles
    )) %>
  <% end %>
  <%= content %>
</div>