<div class="dish_type-page index-page">
    <div class="page-header">
        <%= new_button new_dish_type_path, I18n.t( 'dish_types.new_button' ) %>
        <h1><%= I18n.t( 'dish_types.index_page_title' ) %></h1>
    </div>
    <% if @dish_types.blank? %>
      No entry
    <% else %>
      <div class="container">
          <% @dish_types.each_with_index do |dish_type, index| %>
            <article class="media row">
                <div class="pull-left">
                    <%= image_tag dish_type.picture.url(:thumb), :class => "media-object" %>
                </div>
                <div class="media-body">
                    <h2><%= dish_type %></h2>
                    <div class="col-md-9">
                        <dl class="dl-horizontal">
                            <%  if !dish_type.plurial_name.blank? %>
                              <dt class="plurial_name"><%= DishType.human_attribute_name( 'plurial_name' ) %></dt>
                              <dd class="plurial_name"><%= dish_type.plurial_name %></dd>
                            <% end %>
                        </dl>
                    </div>
                    <div class="col-md-3">
                        <div class="pull-right">
                            <%= move_lower_button move_lower_dish_type_path(dish_type) %>
                            <%= move_higher_button move_higher_dish_type_path(dish_type) %>
                            <%= edit_button edit_dish_type_path(dish_type) %>
                            <%= destroy_button dish_type %>
                        </div>
                    </div>
                </div>
            </article>
          <% end %>
      </div>
    <% end %>
</div>
