<%= form_for(@recipe, :html => { :class => "with-shadow form-horizontal" }) do |f| %>
  <% if @recipe.errors.any? %>
    <div class="alert alert-danger alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <h4><%= pluralize(@recipe.errors.count, I18n.t( 'application.error' )) %> <%= I18n.t( 'application.error_message' ) %></h4>
        <ul>
            <% @recipe.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
        </ul>
    </div>
  <% end %>
  <div class="form-group text-center">
      <%= f.submit :class => "btn btn-primary" %>
  </div>
  <hr />
  <div class="form-group">
      <%= f.label :name, :class => "col-sm-2 control-label required" %>
      <div class="col-sm-10">
          <%= f.text_field :name, :class => "form-control" %>
      </div>
  </div>
  <div class="form-group">
      <%= f.label :course_types, :class => "col-sm-2 control-label required" %>
      <div class="col-sm-10">
          <div data-toggle="buttons">
              <input id="ingredient_category_ids_0" name="recipe[category_ids][]" type="hidden">
              <% for course_type in @course_types %>
                <label class="btn btn-success btn-xs <% if @recipe.categories.include?( course_type ) %>active<% end %>">
                    <input id="recipe_category_ids_<%= course_type.id %>" 
                           name="recipe[category_ids][]" 
                           type="checkbox" 
                           <% if @recipe.categories.include?( course_type ) %>checked="checked="<% end %>
                           value="<%= course_type.id %>"> <%= course_type %>
                </label>
              <% end %>
          </div>
      </div>
  </div>
  <div class="form-group">
      <%= f.label :categories, :class => "col-sm-2 control-label" %>
      <div class="col-sm-10">
          <%= f.collection_select :category_ids, @categories, :id, :name, {}, {:multiple => true, :class => "tokenize-recipe-categories", :data_add_url => categories_path, :data_list_url => categories_path(format: :json)} %>
          <div class="suggested-categories"></div>
      </div>
  </div>
  <div class="form-group">
      <%= f.label :description, :class => "col-sm-2 control-label" %>
      <div class="col-sm-10">
          <%= f.text_area :description, :class => "form-control tinymce" %>
      </div>
  </div>
  <div class="form-group">
      <%= f.label :picture, :class => "col-sm-2 control-label" %>
      <div class="row">
          <%  if !@recipe.picture.blank?  %>
            <%= image_tag @recipe.picture.url(:medium), :class => "media-object col-sm-2" %>
          <% end %>
          <div class="col-sm-7">
              <%= f.file_field :picture, :class => "form-control" %>
          </div>
      </div>
  </div>
  <div class="form-group">
      <%= f.label :times, :class => "col-sm-2 control-label" %>
      <div class="col-sm-10">
          <%= f.text_area :times, :class => "form-control" %>
      </div>
  </div>
  <div class="form-group">
      <%= f.label :quantity, :class => "col-sm-2 control-label" %>
      <div class="col-sm-10">
          <%= f.text_field :quantity, :class => "form-control" %>
      </div>
  </div>
  <div class="form-group">
      <%= f.label :ingredients, :class => "col-sm-2 control-label" %>
      <div class="col-sm-10">
          <%= f.text_area :ingredients, :class => "form-control tinymce" %>
      </div>
  </div>
  <div class="form-group">
      <%= f.label :main_ingredients, :class => "col-sm-2 control-label" %>
      <div class="col-sm-10">
          <%= f.collection_select :main_ingredient_ids, Ingredient.ordered, :id, :name, {}, {:multiple => true, :class => "tokenize-recipe-ingredients", :data_add_url => ingredients_path, :data_list_url => ingredients_path(format: :json)} %>
      </div>
  </div>
  <div class="form-group">
      <%= f.label :directions, :class => "col-sm-2 control-label required" %>
      <div class="col-sm-10">
          <%= f.text_area :directions, :class => "form-control tinymce" %>
      </div>
  </div>
  <div class="form-group">
      <%= f.label :sources, :class => "col-sm-2 control-label" %>
      <div class="col-sm-10">
          <%= f.collection_select :source_ids, Source.ordered, :id, :name, {}, {:multiple => true, :class => "tokenize-recipe-sources", :data_add_url => sources_path, :data_list_url => sources_path(format: :json)} %>
      </div>
  </div>
  <div class="form-group">
      <%= f.label :wine, :class => "col-sm-2 control-label" %>
      <div class="col-sm-10">
          <%= f.text_field :wine, :class => "form-control" %>
      </div>
  </div>
  <hr />
  <div class="form-group text-center">
      <%= f.submit :class => "btn btn-primary" %>
  </div>
  <%= tinymce %>
<% end %>
