<article class="row media with-shadow">
    <div class="pull-left">
        <%  if !recipe.picture.blank?  %>
          <%= image_tag recipe.picture.url(:thumb), :class => "media-object" %>
        <% end %>
    </div>
    <div class="media-body">
        <div class="pull-right">
            <%= show_button recipe %>
            <%= edit_button edit_recipe_path(recipe) %>
        </div>
        <h2><%= link_to recipe, recipe %></h2>
        <div class="row">
            <div class="categorization">
                <% recipe.categories.each do |category| %>
                  <%= category_label category %>
                <% end %>
                <% recipe.additional_categories.each do |category| %>
                  <%= additional_category_label category %>
                <% end %>
                <div class="main_ingredients">
                    <% recipe.main_ingredients.each do |ingredient| %>
                      <%= main_ingredient_label ingredient %>
                    <% end %>
                </div>
            </div>
            <div class="note">
                <%= rating_for recipe, "note" %>
            </div>
        </div>
        <% if !recipe.description.blank? %>
          <div class="description">
              <%= raw( recipe.description ) %>
          </div>
        <% end %>
    </div>
</article>