<div class="recipe-page index-page">
  <div class="page-header">
    <%= link_to new_recipe_path, :class => 'btn btn-success' do %>
      <span class="glyphicon glyphicon-plus"></span>
      <%=  I18n.t( 'recipes.new_button' ) %>
    <% end %>
    <h1><%= I18n.t( 'recipes.index_page_title' ) %></h1>
  </div>
  <% if @recipes.blank? %>
    <%= I18n.t( 'application.no_entry' ) %>
  <% else %>
    <div class="container">
      <% @recipes.each do |recipe| %>
        <div class="col-md-6">
          <article>
            <h2><%= link_to recipe, recipe %></h2>
            <div  class="row">
              <div class="ingredients pull-left">
                <%= raw( recipe.ingredients ) %>
              </div>
              <div class="btn-group pull-right">
                <%= link_to recipe, :class => 'btn btn-primary', :title => I18n.t( 'application.show' ) do %>
                  <span class="glyphicon glyphicon-info-sign"></span>
                <% end %>
                <%= link_to edit_recipe_path(recipe), :class => 'btn btn-primary no-print', :title => I18n.t( 'application.edit' ) do %>
                  <span class="glyphicon glyphicon-pencil"></span>
                <% end %>
                <%= link_to recipe, :class => 'btn btn-danger no-print', :title => I18n.t( 'application.destroy' ), :method => :delete, :data => { confirm: I18n.t( 'application.destroy_confirmation' ) } do %>
                  <span class="glyphicon glyphicon-trash"></span>
                <% end %>
              </div>
            </div>
          </article>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
