<div class="recipe-page index-page">
    <div class="page-header row">
        <header class ="with-shadow row">
            <h1><%= I18n.t( 'recipes.index_page_title', total_count: @search_result.total ) %></h1>
        </header>
    </div>
    <% if @search_result.total == 0 %>
      <%= I18n.t( 'application.no_entry' ) %>
      <form class="form-horizontal" role="search" action="<%= recipes_path %>">
          <div class="input-group">
              <input type="text" class="form-control" placeholder="<%= I18n.t( 'application.search' ) %>" name="query" value="<%= @query %>">
              <span class="input-group-btn">
                  <button type="submit" class="btn btn-default"><%= I18n.t( 'application.search' ) %></button>
              </span>
          </div>
      </form>
    <% else %>
      <aside class="left-col-container col-md-4 hidden-sm hidden-xs">
          <div class="recipe-filters with-shadow">
              <form class="form-horizontal" role="search" action="<%= recipes_path %>">
                  <div class="input-group">
                      <input type="text" class="form-control" placeholder="<%= I18n.t( 'application.search' ) %>" name="query" value="<%= @query %>">
                      <span class="input-group-btn">
                          <button type="submit" class="btn btn-default" alt="<%= I18n.t( 'application.search' ) %>"><i class="fa fa-search"></i></button>
                      </span>
                  </div>
              </form>
              <fieldset class="filter">
                  <legend for="facet-recipe-course-type" class="facet-title">
                      <span class="glyphicon glyphicon-menu-down"></span> <%= Recipe.human_attribute_name( 'course_type_ids' ) %>
                  </legend>
                  <div id="facet-recipe-course-type" class="form-group facet-list">
                      <%= remove_recipe_course_type_include_filter params %>
                      <%= remove_recipe_course_type_exclude_filter params %>
                      <%= recipe_course_type_filter params, @search_result.facet(:course_type_ids) %>
                  </div>
              </fieldset>
              
              <fieldset class="filter">
                  <legend for="facet-recipe-difficulty" class="facet-title">
                      <span class="glyphicon glyphicon-menu-right"></span> <%= Recipe.human_attribute_name( 'difficulty' ) %>
                  </legend>
                  <div id="facet-recipe-difficulty" class="form-group facet-list">
                      <%= remove_recipe_difficulty_include_filter params %>
                      <%= remove_recipe_difficulty_exclude_filter params %>
                      <%= recipe_difficulty_filter params, @search_result.facet(:difficulty) %>
                  </div>
              </fieldset>
              
              <fieldset class="filter">
                  <legend for="facet-recipe-cost" class="facet-title">
                      <span class="glyphicon glyphicon-menu-right"></span> <%= Recipe.human_attribute_name( 'cost' ) %>
                  </legend>
                  <div id="facet-recipe-cost" class="form-group facet-list">
                      <%= remove_recipe_cost_include_filter params %>
                      <%= remove_recipe_cost_exclude_filter params %>
                      <%= recipe_cost_filter params, @search_result.facet(:cost) %>
                  </div>
              </fieldset>

              <fieldset class="filter">
                  <legend for="facet-recipe-category" class="facet-title">
                      <span class="glyphicon glyphicon-menu-right"></span> <%= Recipe.human_attribute_name( 'category_ids' ) %>
                  </legend>
                  <div id="facet-recipe-category" class="form-group facet-list">
                      <%= remove_recipe_category_include_filter params %>
                      <%= remove_recipe_category_exclude_filter params %>
                      <%= recipe_category_filter params, @search_result.facet(:category_ids) %>
                  </div>
              </fieldset>

              <fieldset class="filter">
                  <legend for="facet-recipe-main-ingredient" class="facet-title">
                      <span class="glyphicon glyphicon-menu-right"></span> <%= Recipe.human_attribute_name( 'main_ingredient_ids' ) %>
                  </legend>
                  <div id="facet-recipe-main-ingredient" class="form-group facet-list">
                      <%= remove_recipe_main_ingredient_include_filter params %>
                      <%= remove_recipe_main_ingredient_exclude_filter params %>
                      <%= recipe_main_ingredient_filter params, @search_result.facet(:main_ingredient_ids) %>
                  </div>
              </fieldset>

              <fieldset class="filter">
                  <legend for="facet-recipe-source" class="facet-title">
                      <span class="glyphicon glyphicon-menu-right"></span> <%= Recipe.human_attribute_name( 'source_ids' ) %>
                  </legend>
                  <div id="facet-recipe-source" class="form-group facet-list">
                      <%= remove_recipe_sources_include_filter params %>
                      <%= remove_recipe_sources_exclude_filter params %>
                      <%= recipe_sources_filter params, @search_result.facet(:source_ids) %>
                  </div>
              </fieldset>
          </div>
      </aside>
      <div class="recipe-list col-md-8">
          <% @search_result.results.each do |recipe| %>
            <%= render 'row', recipe: recipe %>
          <% end %>
          <% if @search_result.results.total_pages > 1 %>
            <div class="text-center">
                <nav>
                    <% if !@search_result.results.first_page? %>
                      <ul class="pagination">
                          <li>
                              <%= link_to "&laquo;".html_safe, recipes_path( params.merge({ :page => 1 }) ) %>
                          </li>
                      </ul>
                      <ul class="pagination">
                          <li>
                              <%= link_to "&lsaquo;".html_safe, recipes_path( params.merge({ :page => @search_result.results.previous_page }) ) %>
                          </li>
                      </ul>
                    <% end %>
                    <ul class="pagination">
                        <% for page in (@search_result.results.current_page-5)..(@search_result.results.current_page+5) %>
                          <% if page >= 1 and page <= @search_result.results.total_pages %>
                            <li <% if page == ( params[:page].to_i || 1 ) %>class="active"<% end %>>
                                <%= link_to page, recipes_path( params.merge({ :page => page }) ) %>
                            </li>
                          <% end %>
                        <% end %>
                    </ul>
                    <% if !@search_result.results.last_page? %>
                      <ul class="pagination">
                          <li>
                              <%= link_to "&rsaquo;".html_safe, recipes_path( params.merge({ :page => @search_result.results.next_page }) ) %>
                          </li>
                      </ul>
                      <ul class="pagination">
                          <li>
                              <%= link_to "&raquo;".html_safe, recipes_path( params.merge({ :page => @search_result.results.total_pages }) ) %>
                          </li>
                      </ul>
                    <% end %>
                </nav>
            </div>
          <% end %>
      </div>
    <% end %>
</div>
