<div class="recipe-page index-page">
  <div class="page-header">
    <%= new_button new_recipe_path, I18n.t( 'recipes.new_button' ) %>
    <h1><%= I18n.t( 'recipes.index_page_title' ) %></h1>
  </div>
  <% if @search_result.total == 0 %>
    <%= I18n.t( 'application.no_entry' ) %>
    <form class="form-horizontal" role="search" action="<%= recipes_path %>">
      <div class="form-group col-md-11">
        <input type="text" class="form-control" placeholder="<%= I18n.t( 'application.search' ) %>" name="query" value="<%= @query %>">
      </div>
      <button type="submit" class="btn btn-default col-md-1"><%= I18n.t( 'application.search' ) %></button>
    </form>
  <% else %>
    <div class="container">
      <div class="left-col-container col-md-3">
        <form class="form-horizontal" role="search" action="<%= recipes_path %>">
          <input type="text" class="form-control" placeholder="<%= I18n.t( 'application.search' ) %>" name="query" value="<%= @query %>">
          <button type="submit" class="btn btn-default pull-right"><%= I18n.t( 'application.search' ) %></button>
        </form>
        <h3><%= Recipe.human_attribute_name( 'dish_type' ) %></h3>
        <%= link_to "x #{DishType.find( params[:dish_type_id] )}", recipes_path( params.except( :dish_type_id ) ) if params[:dish_type_id].present? %>
        <% if @search_result.facet(:dish_type_id) %>
          <ul>
            <% @search_result.facet(:dish_type_id).rows.sort { |left,right| left.instance.id <=> right.instance.id }.each do |facet| %>
              <li><%= link_to "#{facet.instance.name} (#{facet.count})", recipes_path( params.merge({ :dish_type_id => facet.value }) )%></li>
            <% end %>
          </ul>
        <% end %>
        <h3><%= Recipe.human_attribute_name( 'category_ids' ) %></h3>
        <%= link_to "x #{Category.find( params[:category_ids] )}", recipes_path( params.except( :category_ids ) ) if params[:category_ids].present? %>
        <% if @search_result.facet(:category_ids) %>
          <ul>
            <% @search_result.facet(:category_ids).rows.each do |facet| %>
              <li><%= link_to "#{facet.instance.name} (#{facet.count})", recipes_path( params.merge({ :category_ids => facet.value }) )%></li>
            <% end %>
          </ul>
        <% end %>
      </div>
      <div class="col-md-9">
        <% @search_result.results.each do |recipe| %>
          <article class="row media">
            <div class="pull-left">
              <%= image_tag recipe.dish_type.picture.url(:thumb_gray), :class => "media-object" %>
            </div>
            <div class="media-body">
              <h2><%= link_to recipe, recipe %></h2>
              <div class="categorization">
                <%= dish_type_label recipe.dish_type %>
                <% recipe.categories.each do |category| %>
                  <%= category_label category %>
                <% end %>
              </div>
              <div class="times">
                <%= simple_format( recipe.times ) %>
              </div>
              <div class="ingredients">
                <%= raw( recipe.ingredients ) %>
              </div>
              <div class="pull-right">
                <%= show_button recipe %>
                <%= edit_button edit_recipe_path(recipe) %>
              </div>
            </div>
          </article>
          <hr />
        <% end %>
        <% if @search_result.results.total_pages > 1 %>
          <div class="text-center">
            <ul class="pagination">
              <li <% if @search_result.results.first_page? %>class="disabled"<% end %>>
                <%= link_to "&laquo;".html_safe, recipes_path( params.merge({ :page => @search_result.results.previous_page }) ) %>
              </li>
              <% for page in 1..(@search_result.results.total_pages) %>
                <li <% if page == ( params[:page].to_i || 1 ) %>class="active"<% end %>>
                  <%= link_to page, recipes_path( params.merge({ :page => page }) ) %>
                </li>
              <% end %>
              <li <% if @search_result.results.last_page? %>class="disabled"<% end %>>
                <%= link_to "&raquo;".html_safe, recipes_path( params.merge({ :page => @search_result.results.next_page }) ) %>
              </li>
            </ul>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
