<div class="recipe-page show-page">
    <div class="page-header row">
        <div class="buttons">
            <div class="pull-left">
                <%= back_button recipes_path %>
            </div>
            <div class="pull-right">
                <%= edit_button edit_recipe_path( @recipe ) %>
                <%= destroy_button @recipe %>
            </div>
            <div class="clearfix"></div>
        </div>
        <header class ="with-shadow row">
            <% if !@recipe.picture.blank? %>
              <%= image_tag @recipe.picture.url(:medium), :class => "media-object col-sm-3" %>
            <% end %>
            <div class="col-sm-<%= !@recipe.picture.blank? ? 9 : 12 %>">
                <h1><%= @recipe %></h1>
                <% if @recipe.sources_list.any? %>
                  <div class="sources-list">
                      <%= @recipe.sources_list.join(' ; ') %>
                  </div>
                <% end %>
                <% @recipe.categories.each do |category| %>
                  <%= category_label category %>
                <% end %>
                <% @recipe.additional_categories.each do |category| %>
                  <%= additional_category_label category %>
                <% end %>
                <div class="rating row no-print">
                    <div class="col-sm-1">
                        <label><%= Recipe.human_attribute_name('note')  %></label>
                    </div>
                    <div class="col-sm-3">
                        <%= rating_for @recipe, "note" %>
                    </div>
                    <div class="col-sm-1">
                        <label><%= Recipe.human_attribute_name('difficulty') %></label>
                    </div>
                    <div class="col-sm-3">
                        <%= rating_for @recipe, "difficulty" %>
                    </div>
                    <div class="col-sm-1">
                        <label><%= Recipe.human_attribute_name('cost') %></label>
                    </div>
                    <div class="col-sm-3">
                        <%= rating_for @recipe, "cost" %>
                    </div>
                </div>
                <% if !@recipe.description.blank? %>
                  <div class="description">
                      <%= raw( @recipe.description ) %>
                  </div>
                <% end %>
            </div>
        </header>
    </div>



    <% if !@recipe.times.blank? %>
      <div class="times with-shadow">
          <fieldset>
              <legend><%= Recipe.human_attribute_name('times')  %></legend>
              <div class="content">
                  <%= simple_format( @recipe.times ) %>
              </div>
          </fieldset>
      </div>
    <% end %>
    <%  if @recipe.main_ingredients.any? or !@recipe.ingredients.blank? or !@recipe.quantity.blank? %>
      <div class="ingredients with-shadow">
          <fieldset>
              <legend>
                  <%= Recipe.human_attribute_name('ingredients')  %>
                  <% if !@recipe.quantity.blank? %>
                    - <%= @recipe.quantity %>
                  <% end %>
              </legend>
              <div class="content">
                  <div class="ingredients-list"> 
                      <% @recipe.main_ingredients.each do |ingredient| %>
                        <%= main_ingredient_label ingredient %>
                      <% end %>
                      <% @recipe.additional_main_ingredients.each do |ingredient| %>
                        <%= additional_main_ingredient_label ingredient %>
                      <% end %>
                      <%= raw( @recipe.ingredients ) %>
                  </div>
              </div>
          </fieldset>
      </div>
    <% end %>

    <div class="directions with-shadow">
        <fieldset>
            <legend>
                <%= Recipe.human_attribute_name('directions')  %>
            </legend>
            <div class="content">
                <%= raw( @recipe.directions ) %>
            </div>
        </fieldset>
    </div>

    <% if !@recipe.wine.blank? %>
      <div class="wine with-shadow">
          <fieldset>
              <legend>
                  <%= Recipe.human_attribute_name('wine')  %>
              </legend>
              <div class="content">
                  <%= @recipe.wine %>
              </div>
          </fieldset>
      </div>
    <% end %>
</div>
