<div class="recipe-page show-page">
  <div class="page-header">
    <%= link_to @recipe, :class => 'btn btn-xs btn-danger no-print', :title => I18n.t( 'application.destroy' ), :method => :delete, :data => { confirm: I18n.t( 'application.destroy_confirmation' ) } do %>
      <span class="glyphicon glyphicon-trash"></span>
      <%= I18n.t( 'application.destroy' ) %>
    <% end %>
    <%= link_to edit_recipe_path(@recipe), :class => 'btn btn-xs btn-primary no-print' do %>
      <span class="glyphicon glyphicon-pencil"></span>
      <%= I18n.t( 'application.edit' ) %>
    <% end %>
    <%= link_to recipes_path, :class => 'btn btn-xs btn-default no-print' do %>
      <span class="glyphicon glyphicon-list-alt"></span>
      <%= I18n.t( 'application.back' ) %>
    <% end %>
    <h1><%= @recipe %></h1>
    <span class="label label-primary"><%= @recipe.dish_type %></span>
    <% @recipe.categories.each do |category| %>
      <span class="label label-default"><%= category %></span>
    <% end %>
  </div>

  <dl class="dl-horizontal">
    <% if !@recipe.description.blank? %>
      <dt class="description"><%= Recipe.human_attribute_name( 'description' ) %></dt>
      <dd class="description"><%= raw( @recipe.description ) %></dd>
    <% end %>
    <% if !@recipe.times.blank? %>
      <dt class="times"><%= Recipe.human_attribute_name( 'times' ) %></dt>
      <dd class="times"><%= simple_format( @recipe.times ) %></dd>
    <% end %>
    <% if !@recipe.quantity.blank? %>
      <dt class="quantity"><%= Recipe.human_attribute_name( 'quantity' ) %></dt>
      <dd class="quantity"><%= @recipe.quantity %></dd>
    <% end %>
    <dt class="ingredients"><%= Recipe.human_attribute_name( 'ingredients' ) %></dt>
    <dd class="ingredients"><%= raw( @recipe.ingredients ) %></dd>
    <dt class="directions"><%= Recipe.human_attribute_name( 'directions' ) %></dt>
    <dd class="directions"><%= raw( @recipe.directions ) %></dd>
    <% if !@recipe.source.blank? %>
      <dt class="source"><%= Recipe.human_attribute_name( 'source' ) %></dt>
      <dd class="source"><%= @recipe.source %></dd>
    <% end %>
    <% if !@recipe.wine.blank? %>
      <dt class="wine"><%= Recipe.human_attribute_name( 'wine' ) %></dt>
      <dd class="wine"><%= @recipe.wine %></dd>
    <% end %>
  </dl>
</div>
