<div class="recipe-page show-page">
  <div class="page-header">
    <%= destroy_button @recipe %>
    <%= edit_button edit_recipe_path( @recipe ) %>
    <%= back_button recipes_path %>
    <h1><%= @recipe %></h1>
    <%= dish_type_label @recipe.dish_type %>
    <% @recipe.categories.each do |category| %>
      <%= category_label category %>
    <% end %>
  </div>

  <dl class="dl-horizontal">
    <% if !@recipe.description.blank? %>
      <dt class="description"><%= Recipe.human_attribute_name( 'description' ) %></dt>
      <dd class="description"><%= raw( @recipe.description ) %></dd>
    <% end %>
    <% if !@recipe.times.blank? %>
      <dt class="times"><%= Recipe.human_attribute_name( 'times' ) %></dt>
      <dd class="times"><%= simple_format( @recipe.times ) %></dd>
    <% end %>
    <% if !@recipe.quantity.blank? %>
      <dt class="quantity"><%= Recipe.human_attribute_name( 'quantity' ) %></dt>
      <dd class="quantity"><%= @recipe.quantity %></dd>
    <% end %>
    <dt class="ingredients"><%= Recipe.human_attribute_name( 'ingredients' ) %></dt>
    <dd class="ingredients"><%= raw( @recipe.ingredients ) %></dd>
    <dt class="directions"><%= Recipe.human_attribute_name( 'directions' ) %></dt>
    <dd class="directions"><%= raw( @recipe.directions ) %></dd>
    <% if !@recipe.source.blank? %>
      <dt class="source"><%= Recipe.human_attribute_name( 'source' ) %></dt>
      <dd class="source"><%= @recipe.source %></dd>
    <% end %>
    <% if !@recipe.wine.blank? %>
      <dt class="wine"><%= Recipe.human_attribute_name( 'wine' ) %></dt>
      <dd class="wine"><%= @recipe.wine %></dd>
    <% end %>
  </dl>
</div>
