<div class="container-fluid">
  <div class="columns is-desktop">
    <div class="column is-four-fifths-desktop">
      <div class="box">
        <div class="title is-size-1 <%= css_book_color %>"><%= I18n.t('recipes.index_page_title', count: search_result.total_count) %></div>
        <%= render(Recipes::List::ViewComponent.new(objects: search_result)) %>
        <div>
          <%= paginate search_result %>
        </div>
      </div>
    </div>
    <div class="column is-one-fifth-desktop">
      <div class="box">
        <%= render(Recipes::Search::FormComponent.new(
          book: book,
          search_params: search_params
        )) %>
      </div>
    </div>
  </div>
</div>