<%= form_with url: categories_path,
              method: :get,
              html: { role: "search" } do |f| %>
  <div class="field ">
    <div class="control">
      <input type="text" class="input is-fullwidth" name="search[query]" value="<%= query[:query] %>">
    </div>
  </div>
  <%= render(Application::SearchFormEntry::AggregationSelectComponent.new(
    form: f,
    method: Category.human_attribute_name('book'),
    buckets: result.aggs['book_name']['buckets'],
    search_param_name: 'search[book_name]',
    search_param_value: query[:book_name],
    options: { "data-target": "categories--search-form_entry.book" }
  )) %>
  <%= render(Application::SearchFormEntry::AggregationSelectComponent.new(
    form: f,
    method: Category.human_attribute_name('categorization'),
    buckets: result.aggs['categorization_name']['buckets'],
    search_param_name: 'search[categorization_name]',
    search_param_value: query[:categorization_name],
    options: { "data-target": "categories--search-form_entry.categorization_name" }
  )) %>
  <%= render(Application::SearchFormEntry::AggregationSelectComponent.new(
    form: f,
    method: Category.human_attribute_name('related_tree_categories'),
    buckets: result.aggs['related_tree_categories_names']['buckets'],
    search_param_name: 'search[related_tree_categories_names]',
    search_param_value: query[:related_tree_categories_names],
    options: { "data-target": "categories--search-form_entry.related_tree_categories_names" }
  )) %>
  <%= render(Application::SearchFormEntry::AggregationSelectComponent.new(
    form: f,
    method: Category.human_attribute_name('related_tree_by_categories'),
    buckets: result.aggs['related_tree_by_categories_names']['buckets'],
    search_param_name: 'search[related_tree_by_categories_names]',
    search_param_value: query[:related_tree_by_categories_names],
    options: { "data-target": "categories--search-form_entry.related_tree_by_categories_names" }
  )) %>
  <%= render(Application::SearchFormEntry::AggregationSelectComponent.new(
    form: f,
    method: Category.human_attribute_name('related_categories'),
    buckets: result.aggs['related_categories_names']['buckets'],
    search_param_name: 'search[related_categories_names]',
    search_param_value: query[:related_categories_names],
    options: { "data-target": "categories--search-form_entry.related_categories_names" }
  )) %>
  <%= render(Application::SearchFormEntry::AggregationSelectComponent.new(
    form: f,
    method: Category.human_attribute_name('related_by_categories'),
    buckets: result.aggs['related_by_categories_names']['buckets'],
    search_param_name: 'search[related_by_categories_names]',
    search_param_value: query[:related_by_categories_names],
    options: { "data-target": "categories--search-form_entry.related_by_categories_names" }
  )) %>
  <%= render(Application::SearchFormEntry::AggregationSelectComponent.new(
    form: f,
    method: Category.human_attribute_name('suggested_categories'),
    buckets: result.aggs['suggested_categories_names']['buckets'],
    search_param_name: 'search[suggested_categories_names]',
    search_param_value: query[:suggested_categories_names],
    options: { "data-target": "categories--search-form_entry.suggested_categories_names" }
  )) %>
  <%= render(Application::SearchFormEntry::AggregationSelectComponent.new(
    form: f,
    method: Category.human_attribute_name('suggested_by_categories'),
    buckets: result.aggs['suggested_by_categories_names']['buckets'],
    search_param_name: 'search[suggested_by_categories_names]',
    search_param_value: query[:suggested_by_categories_names],
    options: { "data-target": "categories--search-form_entry.suggested_by_categories_names" }
  )) %>
  <div class="buttons is-centered">
    <button type="submit" class="button is-primary"><%= I18n.t('application.search') %></button>
    <%= link_to I18n.t('application.reset'), categories_path, class: "button is-secondary" %>
  </div>
<% end %>