<%= render(Application::Components::MediaObjectComponent.new) do |component| %>

  <% component.with(:body) do %>
    <p><span class="subtitle is-5"><%= object.categorization.book %></span> /
      <span class="subtitle is-6"><%= object.categorization %></span></p>
    <p class="title is-4"><%= link_to object, object, :class => css_book_color %></p>
    <div class="columns">
      <div class="column">
        <div>
          <div class="heading"><%= Category.human_attribute_name('related_tree_categories') %></div>
          <%= render Application::Elements::CategoryTagListComponent.new(
              categories: object.related_tree_categories,
              display_if_empty: true
          ) %>
        </div>
      </div>
      <div class="column">
        <div>
          <p class="heading"><%= Category.human_attribute_name('related_tree_by_categories') %></p>
          <%= render Application::Elements::CategoryTagListComponent.new(
              categories: object.related_tree_by_categories,
              display_if_empty: true
          ) %>
        </div>
      </div>
      <div class="column">
        <div>
          <div class="heading"><%= Category.human_attribute_name('related_categories') %></div>
          <%= render Application::Elements::CategoryTagListComponent.new(
              categories: object.related_categories,
              display_if_empty: true
          ) %>
        </div>
      </div>
      <div class="column">
        <div>
          <p class="heading"><%= Category.human_attribute_name('related_by_categories') %></p>
          <%= render Application::Elements::CategoryTagListComponent.new(
              categories: object.related_by_categories,
              display_if_empty: true
          ) %>
        </div>
      </div>
      <div class="column">
        <div>
          <p class="heading"><%= Category.human_attribute_name('suggested_categories') %></p>
          <%= render Application::Elements::CategoryTagListComponent.new(
              categories: object.suggested_categories,
              display_if_empty: true
          ) %>
        </div>
      </div>
      <div class="column">
        <div>
          <p class="heading"><%= Category.human_attribute_name('suggested_by_categories') %></p>
          <%= render Application::Elements::CategoryTagListComponent.new(
              categories: object.suggested_by_categories,
              display_if_empty: true
          ) %>
        </div>
      </div>
    </div>
  <% end %>

  <% component.with(:right) do %>
    <% if can? :read, object %>
      <%= render(Application::Elements::IconLinkComponent.new(
          url: object,
          name: I18n.t('application.show'),
          icon: 'eye',
          styles: {color: book_color}
      )) %>
    <% end %>
    <% if can? :update, object %>
      <%= render(Application::Elements::IconLinkComponent.new(
          url: edit_category_path(object),
          name: I18n.t('application.edit'),
          icon: 'edit',
          styles: {color: book_color}
      )) %>
    <% end %>
    <% if can? :destroy, object %>
      <%= render(Application::Elements::IconLinkComponent.new(
          url: object,
          name: I18n.t('application.destroy'),
          icon: 'trash',
          method: :delete,
          data: {confirm: I18n.t('application.destroy_confirmation')},
          styles: {color: book_color}
      )) %>
    <% end %>
  <% end %>

<% end %>