<div class="menu">
  <ul class="menu-list">
    <li>
      <%= link_to categories_path do %>
        <span class="icon"><%= render Application::Elements::FontAwesomeIconComponent.new(icon: 'book') %></span>
        <span><%= t('categories.view_all') %></span>
      <% end %>
    </li>
    <li>
      <%= link_to new_category_path do %>
        <span class="icon"><%= render Application::Elements::FontAwesomeIconComponent.new(icon: 'plus') %></span>
        <span><%= t('categories.new_button') %></span>
      <% end %>
    </li>
  </ul>
</div>