<%= render(Application::Components::CardComponent.new) do |component| %>

  <% component.with(:header) do %>
    <p class="card-header-title"><%= link_to object, [object.book, object], :class => css_book_color %></p>
  <% end %>

  <% component.with(:image) do %>
    <% unless object.picture.blank? %>
      <%= link_to [object.book, object] do %>
        <figure class="image">
          <%= image_tag object.picture.url(:medium), :class => "media-object" %>
        </figure>
      <% end %>
    <% end %>
  <% end %>

  <% component.with(:footer) do %>
    <% if can? :read, object %>
      <%= render(Application::Components::CardFooterItemComponent.new(
          url: [object.book, object],
          name: I18n.t('application.show'),
          icon: 'eye',
          styles: {color: book_color}
      )) %>
    <% end %>
    <% if can? :update, object %>
      <%= render(Application::Components::CardFooterItemComponent.new(
          url: edit_book_recipe_path(object.book, object),
          name: I18n.t('application.edit'),
          icon: 'edit',
          styles: {color: book_color}
      )) %>
    <% end %>
    <% if can? :destroy, object %>
      <%= render(Application::Components::CardFooterItemComponent.new(
          url: [object.book, object],
          name: I18n.t('application.destroy'),
          icon: 'trash',
          method: :delete,
          data: {confirm: I18n.t('application.destroy_confirmation')},
          styles: {color: book_color}
      )) %>
    <% end %>
  <% end %>

<% end %>