<%= render(Application::Components::Card::Card.new) do |component| %>

  <% component.with(:header) do %>
    <p class="card-header-title"><%= link_to object, object %></p>
  <% end %>

  <% component.with(:image) do %>
    <% unless object.picture.blank? %>
      <%= link_to object do %>
        <figure class="image">
          <%= image_tag object.picture.url(:medium), :class => "media-object" %>
        </figure>
      <% end %>
    <% end %>
  <% end %>

  <% component.with(:footer) do %>
    <% if can? :read, object %>
      <%= render(Application::Components::Card::CardFooterItem.new(
          url: recipe_path(object),
          name: I18n.t('application.show'),
          icon: 'eye'
      )) %>
    <% end %>
    <% if can? :update, object %>
      <%= render(Application::Components::Card::CardFooterItem.new(
          url: edit_recipe_path(object),
          name: I18n.t('application.edit'),
          icon: 'edit'
      )) %>
    <% end %>
    <% if can? :destroy, object %>
      <%= render(Application::Components::Card::CardFooterItem.new(
          url: recipe_path(object),
          name: I18n.t('application.destroy'),
          icon: 'trash',
          method: :delete,
          data: {confirm: I18n.t('application.destroy_confirmation')}
      )) %>
    <% end %>
  <% end %>

<% end %>