<%= render(Recipes::Parts::Banner.new(object: object)) %>
<%
  times = Recipes::Parts::Times.new(object: object)
  ingredients = Recipes::Parts::Ingredients.new(object: object)
  directions = Recipes::Parts::Directions.new(object: object)
%>
<% if times.render? or ingredients.render? %>
  <div class="columns">
    <div class="column is-one-quarters">
      <%= render(times) %>
      <%= render(ingredients) %>
    </div>
    <div class="column is-three-quarters">
      <%= render(directions) %>
    </div>
  </div>
<% else %>
  <%= render(directions) %>
<% end %>
<%= render(Recipes::Parts::Suggestions.new(object: object)) %>
<%= render(Recipes::Parts::Classification.new(object: object)) %>
<%= render(Recipes::Parts::MoreLikeThis.new(object: object)) %>
<%= render(Recipes::Parts::PublicationInfo.new(object: object)) %>