<%= form_for([object.book, object]) do |f| %>
  <% if object.errors.any? %>
    <div class="alert alert-danger alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <h4><%= pluralize(object.errors.count, "error") %> prohibited this user from being saved:</h4>

      <ul>
        <% object.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="buttons is-centered">
    <%= render(Application::Form::SubmitEntryComponent.new(
        form: f,
        resource: object,
        field_html_options: {
            class: css_book_color
        }
    )) %>
  </div>
  <hr/>
  <%= render(Application::Form::TextEntryComponent.new(
      form: f,
      method: :name,
      resource: object,
      options: {required: true}
  )) %>
  <%= render(Application::Form::CollectionCheckboxesEntryComponent.new(
      form: f,
      method: :category_ids,
      resource: object,
      choices: Category.recipe_type.ordered,
      value_method: :id,
      text_method: :to_s
  )) %>
  <%= render(Application::Form::CollectionSelectEntryComponent.new(
      form: f,
      method: :category_ids,
      resource: object,
      choices: Category.categories.ordered,
      value_method: :id,
      text_method: :to_s,
      field_html_options: {multiple: true}
  )) %>
  <%= render(Application::Form::MarkdownEntryComponent.new(
      form: f,
      method: :description,
      resource: object
  )) %>
  <%= render(Application::Form::ImageEntryComponent.new(
      form: f,
      method: :picture,
      resource: object
  )) %>
  <%= render(Application::Form::TextareaEntryComponent.new(
      form: f,
      method: :times,
      resource: object
  )) %>
  <%= render(Application::Form::TextEntryComponent.new(
      form: f,
      method: :quantity,
      resource: object
  )) %>
  <%= render(Application::Form::MarkdownEntryComponent.new(
      form: f,
      method: :ingredients,
      resource: object
  )) %>
  <%= render(Application::Form::CollectionSelectEntryComponent.new(
      form: f,
      method: :main_ingredient_ids,
      resource: object,
      choices: Ingredient.ordered,
      value_method: :to_s,
      text_method: :to_s,
      field_html_options: {multiple: true}
  )) %>
  <%= render(Application::Form::MarkdownEntryComponent.new(
      form: f,
      method: :directions,
      resource: object
  )) %>
  <%= render(Application::Form::TextEntryComponent.new(
      form: f,
      method: :wine,
      resource: object
  )) %>
  <hr/>
  <div class="buttons is-centered">
    <%= render(Application::Form::SubmitEntryComponent.new(
        form: f,
        resource: object,
        field_html_options: {
            class: css_book_color
        }
    )) %>
  </div>
<% end %>
