<%= form_for([object.book, object]) do |f| %>
  <% if object.errors.any? %>
    <div class="alert alert-danger alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <h4><%= pluralize(object.errors.count, "error") %> prohibited this user from being saved:</h4>

      <ul>
        <% object.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="buttons is-centered">
    <%= render(Application::FormEntry::SubmitComponent.new(
      form: f,
      resource: object,
      field_html_options: {
        class: css_book_color
      }
    )) %>
  </div>
  <hr/>
  <%= render(Application::FormEntry::TextComponent.new(
    form: f,
    method: :name,
    resource: object,
    options: { required: true }
  )) %>
  <% object.book.categorizations.each do |c| %>
    <%= render(Application::FormEntry::CollectionSelectComponent.new(
      form: f,
      method: :category_ids,
      resource: object,
      choices: c.categories,
      value_method: :id,
      text_method: :to_s,
      options: {
        text: c.name
      },
      field_html_options: {multiple: true}
    )) %>
  <% end %>

  <%= render(Application::FormEntry::MarkdownComponent.new(
    form: f,
    method: :description,
    resource: object
  )) %>
  <%= render(Application::FormEntry::ImageComponent.new(
    form: f,
    method: :picture,
    resource: object
  )) %>
  <%= render(Application::FormEntry::TextareaComponent.new(
    form: f,
    method: :times,
    resource: object
  )) %>
  <%= render(Application::FormEntry::TextComponent.new(
    form: f,
    method: :quantity,
    resource: object
  )) %>
  <%= render(Application::FormEntry::MarkdownComponent.new(
    form: f,
    method: :ingredients,
    resource: object
  )) %>
  <%= render(Application::FormEntry::MarkdownComponent.new(
    form: f,
    method: :directions,
    resource: object
  )) %>
  <%= render(Application::FormEntry::TextComponent.new(
    form: f,
    method: :wine,
    resource: object
  )) %>
  <hr/>
  <div class="buttons is-centered">
    <%= render(Application::FormEntry::SubmitComponent.new(
      form: f,
      resource: object,
      field_html_options: {
        class: css_book_color
      }
    )) %>
  </div>
<% end %>
