<%= form_for(item) do |f| %>
  <% if item.errors.any? %>
    <div class="alert alert-danger alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <h4><%= pluralize(item.errors.count, "error") %> prohibited this user from being saved:</h4>

      <ul>
        <% item.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= render(Bulma::Form::Text::Entry,
             form: f,
             method: :name,
             resource: item,
             options: {required: true}
      ) %>
  <%= render(Bulma::Form::Email::Entry,
             form: f,
             method: :email,
             resource: item,
             options: {required: true}
      ) %>
  <%= render(Bulma::Form::CollectionSelect::Entry,
             form: f,
             method: :role,
             resource: item,
             choices: User::ROLES,
             value_method: :to_s,
             text_method: :humanize,
             options: {required: true}
      ) %>

  <div class="help is-size-5"><%= t('devise.form.change_password_help') %></div>
  <%= render(Bulma::Form::Password::Entry,
             form: f,
             method: :password,
             resource: item,
             field_html_options: {autocomplete: "off"}
      ) %>
  <%= render(Bulma::Form::Password::Entry,
             form: f,
             method: :password_confirmation,
             resource: item,
             field_html_options: {autocomplete: "off"}
      ) %>

  <hr/>
  <div class="buttons is-centered">
    <%= render(Bulma::Form::Submit::Entry,
               form: f,
               resource: item
        ) %>
  </div>
<% end %>
