<%= form_for(@ingredient, :html => { :class => "with-shadow form-horizontal" }) do |f| %>
  <% if @ingredient.errors.any? %>
    <div class="alert alert-danger alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <h4><%= pluralize(@ingredient.errors.count, "error") %> prohibited this ingredient from being saved:</h4>

        <ul>
            <% @ingredient.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
        </ul>
    </div>
  <% end %>

  <div class="form-group">
      <%= f.label :name, :class => "col-sm-2 control-label" %>
      <div class="col-sm-10">
          <%= f.text_field :name, :class => "form-control" %>
      </div>
  </div>
  <div class="form-group">
      <%= f.label :parent, :class => "col-sm-2 control-label" %>
      <div class="col-sm-10">
          <%=  collection_select :ingredient, :parent_id, Ingredient.ordered, :id, :name, { :prompt => true }, { :class => "form-control" }  %>
      </div>
  </div>
  <div class="form-group">
      <%= f.label :best_months, :class => "col-sm-2 control-label" %>
      <div class="col-sm-10">
          <div class="btn-group" data-toggle="buttons">
              <input id="ingredient_best_months_0" name="ingredient[best_months][]" type="hidden">
              <% I18n.t( 'date.abbr_month_names' ).reject{ |m| m.nil? }.to_enum.with_index(1).each do |m, mnum| %>
                <label class="btn btn-success <% if @ingredient.best_months.include?( mnum.to_s ) %>active<% end %>">
                    <input id="ingredient_best_months_<%= mnum %>" 
                           name="ingredient[best_months][]" 
                           type="checkbox" 
                           <% if @ingredient.best_months.include?( mnum.to_s ) %>checked="checked="<% end %>
                           value="<%= mnum %>"> <%= m %>
                </label>
              <% end %>
          </div>
      </div>
  </div>
  <div class="form-group">
      <%= f.label :worse_months, :class => "col-sm-2 control-label" %>
      <div class="col-sm-10">
          <div class="btn-group" data-toggle="buttons">
              <input id="ingredient_worse_months_0" name="ingredient[worse_months][]" type="hidden">
              <% I18n.t( 'date.abbr_month_names' ).reject{ |m| m.nil? }.to_enum.with_index(1).each do |m, mnum| %>
                <label class="btn btn-danger <% if @ingredient.worse_months.include?( mnum.to_s ) %>active<% end %>">
                    <input id="ingredient_worse_months_<%= mnum %>" 
                           name="ingredient[worse_months][]" 
                           type="checkbox" 
                           <% if @ingredient.worse_months.include?( mnum.to_s ) %>checked="checked="<% end %>
                           value="<%= mnum %>"> <%= m %>
                </label>
              <% end %>
          </div>
      </div>
  </div>
  <hr />
  <div class="form-group text-center">
      <%= f.submit :class => "btn btn-primary" %>
  </div>
<% end %>
