<article class="row" id="<%= ingredient.slug %>">
    <% col = ingredient.months ? 6 : 10 %>
    <div class="col-md-<%= col - ingredient.depth %> col-md-offset-<%= ingredient.depth %>">
        <p>
            <%= link_to ingredient, recipes_path( {:main_ingredient_ids => [ingredient.id]} ) %>
            <% if ingredient.recipes.size > 0 %><span class="badge"><%= ingredient.recipes.size %></span><% end%>
        </p>
    </div>
    <div class="pull-right">
        <div class="btn-group">
            <% if can? :create, Ingredient %>
              <%= link_to new_ingredient_path(parent_id: ingredient.id), :class => 'btn btn-success btn-xs no-print', :title => I18n.t( 'application.add' ) do %>
                <span class="glyphicon glyphicon-plus"></span>
              <% end %>
            <% end %>
            <% if can? :update, ingredient %>
              <%= link_to edit_ingredient_path(ingredient), :class => 'btn btn-primary btn-xs no-print', :title => I18n.t( 'application.edit' ) do %>
                <span class="glyphicon glyphicon-pencil"></span>
              <% end %>
            <% end %>
            <% if can? :destroy, ingredient %>
              <%= link_to ingredient, :class => 'btn btn-danger btn-xs no-print', :title => I18n.t( 'application.destroy' ), :method => :delete, :data => { confirm: I18n.t( 'application.destroy_confirmation' ) } do %>
                <span class="glyphicon glyphicon-trash"></span>
              <% end %>
            <% end %>
        </div>
    </div>
    <% if ingredient.months %>
      <div class="pull-right">
          <% I18n.t( 'date.abbr_month_names' ).reject{ |m| m.nil? }.to_enum.with_index(1).each do |m, mnum| %>
            <span class="label label-<% if ingredient.months[mnum] == 'w' %>default<% elsif ingredient.months[mnum] == 'b' %>success<% else %>warning<% end %>"><%= m[0,1] %></span>
          <% end %>
      </div>
    <% end %>
</article>
<% ingredient.children.each do |children| %>
  <%= render 'row', ingredient: children %>
<% end %>