<div class="navbar-start">
  <%= render(MainMenu::NavbarItemComponent.new(title: t('menu.recipes'), path: recipes_path)) %>
  <% if can? :create, Recipe %>
    <%= render(MainMenu::ButtonNavbarItemComponent.new(title: I18n.t('recipes.new_button'), path: new_recipe_path)) %>
    <div class="navbar-item has-dropdown is-hoverable">
      <a href="#" class="navbar-link"><%= I18n.t('recipes.import_button') %></a>
      <div class="navbar-dropdown">
        <%= render(MainMenu::NavbarItemComponent.new(title: t('recipes.import_url'), path: import_recipe_index_path)) %>
      </div>
    </div>
  <% end %>
  <% if can? :read, Category %>
    <%= render(MainMenu::NavbarItemComponent.new(title: t('menu.categories'), path: categories_path)) %>
  <% end %>
  <% if can? :read, Ingredient %>
    <%= render(MainMenu::NavbarItemComponent.new(title: t('menu.ingredients'), path: ingredients_path)) %>
  <% end %>
  <% if can? :read, Source %>
    <%= render(MainMenu::NavbarItemComponent.new(title: t('menu.sources'), path: sources_path)) %>
  <% end %>
  <% if can? :manage, User %>
    <%= render(MainMenu::NavbarItemComponent.new(title: t('menu.users'), path: users_path)) %>
  <% end %>
</div>