<div class="<%= singular_table_name %>-page show-page">
  <div class="page-header">
    <%%= link_to <%= index_helper %>_path, :class => 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    <%%= I18n.t( 'application.back' ) %>
    <%% end %>
    <%%= link_to edit_<%= singular_table_name %>_path(@<%= singular_table_name %>), :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    <%%= I18n.t( 'application.edit' ) %>
    <%% end %>
    <h1><%%= @<%= singular_table_name %> %></h1>
  </div>

  <dl class="dl-horizontal">
    <%- attributes.each do |attribute| -%>
      <dt class="<%= attribute.name %>"><%%= <%= class_name %>.human_attribute_name( '<%= attribute.name %>' ) %></dt>
      <dd class="<%= attribute.name %>"><%%= @<%= singular_table_name %>.<%= attribute.name %> %></dd>
    <%- end -%>
  </dl>
</div>
