<div class="field">
  <% if has_label %>
    <%= render(Application::FormEntry::LabelComponent.new(
      form: form,
      method: method.to_sym,
      resource: resource,
      options: options,
      html_options: label_html_options
    )) %>
  <% end %>
  <div class="field-body">
    <div class="field">
      <div class="control">
        <div class="select is-fullwidth">
          <select name="<%= search_param_name %>" <%= "disabled" unless buckets.any? %>>
            <option value=""><%= t('application.all') %></option>
            <% buckets.each do |b| %>
              <option value="<%= b['key'] %>" <%= "selected" if b['key'] == search_param_value %>>
                <%= "%s (%d)" % [b['key'], b['doc_count']] %>
              </option>
            <% end %>
          </select>
        </div>
      </div>
    </div>
  </div>
</div>