<a href="<%= url %>"
   <% if name %>
   title="<%= name %>"
   <% end %>
   class="<%= css_class %>">
  <% if icon %>
    <span class="icon is-small"><%= render(FontAwesome::Icon.new(icon: icon)) %></span>
  <% end %>
  <% if !icon_only and name %>
    <span><%= name %></span>
  <% end %>
</a>