<%= form_for(@category, :html => { :class => "form-horizontal" }) do |f| %>
  <% if @category.errors.any? %>
    <div class="alert alert-danger alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <h4><%= pluralize(@category.errors.count, "error") %> prohibited this category from being saved:</h4>

        <ul>
            <% @category.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
        </ul>
    </div>
  <% end %>

  <div class="form-group">
      <%= f.label :name, :class => "col-sm-2 control-label required" %>
      <div class="col-sm-10">
          <%= f.text_field :name, :class => "form-control" %>
      </div>
  </div>

  <div class="form-group">
      <%= f.label :is_course_type, :class => "col-sm-2 control-label" %>
      <div class="col-sm-10">
          <%= f.check_box :is_course_type %>
      </div>
  </div>
  <div class="form-group">
      <%= f.label :related_categories, :class => "col-sm-2 control-label" %>
      <div class="col-sm-10">
          <%= f.collection_select :related_category_ids, @category.related_categories, :id, :name, {}, {:multiple => true, :class => "tokenize-category-categories", :data_add_url => categories_path, :data_list_url => categories_path(format: :json)} %>
      </div>
  </div>
  <div class="form-group">
      <%= f.label :related_by_categories, :class => "col-sm-2 control-label" %>
      <div class="col-sm-10">
          <%= f.collection_select :related_by_category_ids, @category.related_by_categories, :id, :name, {}, {:multiple => true, :class => "tokenize-category-categories", :data_add_url => categories_path, :data_list_url => categories_path(format: :json)} %>
      </div>
  </div>
  <div class="form-group">
      <%= f.label :suggested_categories, :class => "col-sm-2 control-label" %>
      <div class="col-sm-10">
          <%= f.collection_select :suggested_category_ids, @category.suggested_categories, :id, :name, {}, {:multiple => true, :class => "tokenize-category-categories", :data_add_url => categories_path, :data_list_url => categories_path(format: :json)} %>
      </div>
  </div>
  <div class="form-group">
      <%= f.label :suggested_by_categories, :class => "col-sm-2 control-label" %>
      <div class="col-sm-10">
          <%= f.collection_select :suggested_by_category_ids, @category.suggested_by_categories, :id, :name, {}, {:multiple => true, :class => "tokenize-category-categories", :data_add_url => categories_path, :data_list_url => categories_path(format: :json)} %>
      </div>
  </div>
  <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
          <%= f.submit :class => "btn btn-primary" %>
      </div>
  </div>
<% end %>
