<div class="category-page index-page">
    <div class="page-header row">
        <header class="with-shadow">
            <h1><%= I18n.t( 'categories.index_page_title' ) %></h1>
        </header>
    </div>
    <% if can? :create, Category %>
      <div class="buttons">
          <%= new_button new_category_path, I18n.t( 'categories.new_button' ) %>
      </div>
    <% end %>
    <% if @categories.blank? %>
      <div class="with-shadow">
          <%= I18n.t( 'application.no_entry' ) %>
      </div>
    <% else %>
      <% @categories.each do |category| %>
        <article id="<%=  category.slug %>" class="row with-shadow">
            <div class="col-md-10">
                <h2>
                    <%= category %>
                    <% if category.is_course_type %>
                      <span class="glyphicon glyphicon-star text-success"></span>
                    <% end %>
                </h2>
                <% if category.related_categories.any? %>
                  <div class="row col-md-6">
                      <div class="col-md-5">
                          <label><%= Recipe.human_attribute_name('related_categories')  %></label>
                      </div>
                      <div class="col-md-7">
                          <%= category.related_categories.to_a.join(', ') %>
                      </div>
                  </div>
                <% end %>
                <% if category.related_by_categories.any? %>
                  <div class="row col-md-6">
                      <div class="col-md-5">
                          <label><%= Recipe.human_attribute_name('related_by_categories')  %></label>
                      </div>
                      <div class="col-md-7">
                          <%= category.related_by_categories.to_a.join(', ') %>
                      </div>
                  </div>
                <% end %>
                <% if category.suggested_categories.any? %>
                  <div class="row col-md-6">
                      <div class="col-md-5">
                          <label><%= Recipe.human_attribute_name('suggested_categories')  %></label>
                      </div>
                      <div class="col-md-7">
                          <%= category.suggested_categories.to_a.join(', ') %>
                      </div>
                  </div>
                <% end %>
                <% if category.suggested_by_categories.any? %>
                  <div class="row col-md-6">
                      <div class="col-md-5">
                          <label><%= Recipe.human_attribute_name('suggested_by_categories')  %></label>
                      </div>
                      <div class="col-md-7">
                          <%= category.suggested_by_categories.to_a.join(', ') %>
                      </div>
                  </div>
                <% end %>
            </div>
            <div class="col-md-2">
                <div class="pull-right">
                    <% if can? :update, category %>
                      <%= edit_button edit_category_path(category) %>
                    <% end %>
                    <% if can? :destroy, category %>
                      <%= destroy_button category %>
                    <% end %>
                </div>
            </div>
        </article>
      <% end %>
    <% end %>
</div>
