<div class="tags has-addons">
  <span class="tag <%= css_book_color %> is-light"><%= Recipe.human_attribute_name('author') %></span>
  <span class="tag"><%= object.author.name %></span>
</div>

<div class="tags has-addons">
  <span class="tag <%= css_book_color %> is-light"><%= Recipe.human_attribute_name('created_at') %></span>
  <span class="tag"><%= object.created_at.strftime("%d/%m/%Y %H:%M") %></span>
</div>

<div class="tags has-addons">
  <span class="tag <%= css_book_color %> is-light"><%= Recipe.human_attribute_name('modifier') %></span>
  <span class="tag"><%= object.modifier.name %></span>
</div>

<div class="tags has-addons">
  <span class="tag <%= css_book_color %> is-light"><%= Recipe.human_attribute_name('updated_at') %></span>
  <span class="tag"><%= object.updated_at.strftime("%d/%m/%Y %H:%M") %></span>
</div>