<span class="tag <%= css_book_color %>">
  <%= link_to "#{related_object.categorization_name} / #{related_object}", related_object, class: "has-text-white", data: {'turbo-frame': '_top' } %>
  <%= form_with(url: remove_classification_category_path(object), method: :delete) do |f| %>
      <%= hidden_field_tag "category[relation_type]", relation %>
      <%= hidden_field_tag "category[related_id]", related_object.friendly_id %>
      <%= button_tag(class: "delete is-small") %>
    <% end %>
</span>
