<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title><%= I18n.t 'application.name' %></title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
        <%= javascript_include_tag "https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js", "https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js" %>
        <![endif]-->

  <%= stylesheet_link_tag 'devise', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  <link rel="shortcut icon" href="img/favicon.ico">
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="<%= asset_path('img/favicon.ico') %>">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="<%= asset_path('img/favicon.ico') %>">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="<%= asset_path('img/favicon.ico') %>">
  <link rel="apple-touch-icon-precomposed" href="<%= asset_path('img/favicon.ico') %>">
</head>
<body>
<div class="page container">
  <% flash.each do |name, msg| %>
    <%= content_tag :div, :class => "ui #{ name } message" do %>
      <i class="close icon"></i>
      <%= msg %>
    <% end %>
  <% end %>
  <%= yield %>
</div>
</body>
</html>
